form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
}
form input{
    display: inline-block;
    width: 180px;
    justify-content: space-evenly;
}
form label{
    width: 180px;
}